html {
  scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
}

/* Start Menü Einstellungen */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #104E8B;
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    background: white;
    color: black;
    border-radius: 5px;
    padding: 15px 25px;
}
/* Ende Menü Einstellungen */

h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 32px;
}

h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 30px;
}

h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 28px;
}

/* Start HeroSection Einstellungen Startseite */
.herosection_index {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('img/systemsky_start.jpg') no-repeat center center/cover;
    height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 20px;
    gap: 20px;
}

.herosection h1 {
    color: white;
    font-size: 3rem;
}

.herosection p {
    color: white;
    font-size: 1.5rem;
}

.herobutton {
    margin-top: 5%;
    padding: 12px 24px;
    font-size: 1.2rem;
    color: white;
    background-color: green;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s;
}

.herobutton:hover {
    background-color: #0056b3;
}
/* Ende HeroSection Einstellungen */

section p {
    max-width: 70vw;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Start Footer Einstellungen */
footer {
  background-color: #104E8B;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  font-size: 1rem;
  margin-top: 5%;
  position: relative;
  width: 100%;
  bottom: 0;
}

.footer-container {
    max-width: 60vw;
    margin: 0 auto;
}

.footer-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
/* Ende Footer Einstellungen */

/* Start Div Boxen für die Service auf der Startseite */
.index-container {
  display: flex;
  gap: 60px; 
  justify-content: center;
  flex-wrap: wrap; 
}

.index-box {
  border: 2px solid #ddd;
  padding: 15px;
  width: 75%;
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, #f8f8f8, #e0e0e0);
  transition: transform 0.2s ease-in-out;
}

.index-box:hover {
  transform: scale(1.05);
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 90vw;
  gap: 15px;
  justify-content: center;
}

.service-box {
  border: 2px solid #ddd;
  padding: 15px;
  width: 20%;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  background: white; 
  transition: transform 0.2s ease-in-out, background-color 0.7s ease;
}

.service-box:hover {
  transform: scale(1.05);
  background-color: #3e9af5;
}

.service-h3 {
  margin: 0%;
  font-size: 1.5rem;
}
/* Ende Div Boxen für die Service auf der Startseite */

/* Start Kontakt Einstellung */
.herosection_contact {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url('img/systemsky_contact.jpg') no-repeat center center/cover;
    height: 50vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.contact-container {
  display: flex;
  gap: 60px; 
  justify-content: center;
  flex-wrap: wrap; 
}

.contact-box {
  border: 2px solid #4682B4;
  padding: 15px;
  width: 250px;
  text-align: center;
  background: white;
  border-radius: 10px 30px 50px 70px;
}
/* Ende Kontakt Einstellung */


/* Start Impressum Einstellung */
.impressum-container {
  display: flex;
  gap: 60px; 
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.impressum-box {
  border: 2px solid #4682B4;
  padding: 15px;
  width: 15%;
  text-align: center;
  background: white;
  border-radius: 10px;
}
/* Ende Impressum Einstellung */
